body {
    width: 500px;
    height: 600px;
}

.message {
    margin-top: 50px;
    margin-bottom: 50px;
}

input[type=submit] {
    width: 200px;
    border-radius: 8px;
    background-color: #0071ce;
    color: #ffffff;
}

.jumbotron {
    margin-bottom: 0;
    background-color: #f2f2f2;
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

.mainrow {
    padding: 10px;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
    position: absolute;
    bottom: 0;
}